# Obtain this from the Setup Page after creating an account on https://wisp.blog/
NEXT_PUBLIC_BLOG_ID=clvlugru90000o4g8ahxp069s
NEXT_PUBLIC_BLOG_DISPLAY_NAME=Diary.
NEXT_PUBLIC_BLOG_COPYRIGHT=Kris
NEXT_DEFAULT_METADATA_DEFAULT_TITLE="Diary of Kris"
NEXT_PUBLIC_BLOG_DESCRIPTION="Blog about life."
NEXT_PUBLIC_BASE_URL="https://ying-blog.vercel.app/"